<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns#
              pp: http://docs.phylopic.org/ns#">
  <title>{{#textname entity.names.[0]}}{{/textname}} – PhyloPic</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="author" content="T. Michael Keesey">
  <meta name="description" content="Free silhouettes for {{#textname entity.names.[0]}}{{/textname}}.">
  <meta name="language" content="en">
  <meta name="no-email-collection" content="//unspam.com/noemailcollection">
  <meta name="reply-to" content="keesey+phylopic@gmail.com">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@tmkeesey">
  <meta name="twitter:description" content="Free silhouettes for {{#textname entity.names.[0]}}{{/textname}}.">
  {{#if entity._embedded.primaryImage}}
  {{#if entity._embedded.primaryImage._links.['twitter:image']}}
  {{#with entity._embedded.primaryImage._links.['twitter:image']}}
  <meta name="twitter:image" content="{{href}}">
  <meta name="twitter:image:height" content="{{#height sizes}}{{/height}}">
  <meta name="twitter:image:width" content="{{#width sizes}}{{/width}}">
  {{/with}}
  {{/if}}
  {{/if}}
  <meta name="twitter:site" content="@phylopic">
  <meta name="twitter:title" content="{{#textname entity.names.[0]}}{{/textname}} – PhyloPic">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="fb:app_id" content="280987075278200">
  <meta property="og:description" content="Free silhouettes for {{#textname entity.names.[0]}}{{/textname}}.">
  {{#if entity._embedded.primaryImage}}
  {{#if entity._embedded.primaryImage._links.['http://ogp.me/ns#image']}}
  {{#with entity._embedded.primaryImage._links.['http://ogp.me/ns#image']}}
  <link rel="image_src" href="{{href}}">
  <meta property="og:image" content="{{href}}">
  <meta property="og:image:height" content="{{#height sizes}}{{/height}}">
  <meta property="og:image:type" content="{{type}}">
  <meta property="og:image:width" content="{{#width sizes}}{{/width}}">
  {{/with}}
  {{/if}}
  {{/if}}
  <meta property="og:site_name" content="PhyloPic">
  <meta property="og:title" content="{{#textname entity.names.[0]}}{{/textname}} – PhyloPic">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://phylopic.org/nodes/{{entity.uuid}}">
  <link rel="copyright" href="#copyright">
  {{#each entity._links.external}}
  <link rel="external" href="{{href}}" title="{{title}}">
  {{/each}}
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  {{#each entity._links.childNodes}}
  <link rel="pp:childNode" href="{{href}}">
  {{/each}}
  {{#if entity._links.contributor}}
  <link rel="pp:contributor" href="{{entity._links.contributor.href}}">
  {{/if}}
  {{#if entity._links.descendantImageSet}}
  <link rel="pp:descendantImageSet" href="{{entity._links.descendantImageSet.href}}">
  {{/if}}
  {{#if entity._links.parentNode}}
  <link rel="pp:parentNode" href="{{entity._links.parentNode.href}}">
  {{/if}}
  {{#if entity._links.primaryImage}}
  <link rel="pp:primaryImage" href="{{entity._links.primaryImage.href}}">
  {{/if}}
  {{#if entity._links.selfImageSet}}
  <link rel="pp:selfImageSet" href="{{entity._links.selfImageSet.href}}">
  {{/if}}
  <link rel="self" href="http://phylopic.org{{entity._links.self.href}}">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <script type="text/javascript">window.__PHYLOPIC__ENTITY__={{#json entity}}{{/json}}</script>
</head>

<body id="app">
  <header>
    <h1>{{#name entity.names.[0]}}{{/name}}</h1>
    {{#if entity._embedded.parentNode}}
    <a href="{{entity._embedded.parentNode._links.self.href}}" class="parent-node">{{#name entity._embedded.parentNode.names.[0]}}{{/name}}</a>
    {{/if}}
  </header>
  <main>
    {{#if entity.names.[1]}}
    <section>
      <h2>Synonyms</h2>
      <ul class="name-list">
        {{#each entity.names}}
        {{#if @index}}
        <li>{{#name this}}{{/name}}</li>
        {{/if}}
        {{/each}}
      </ul>
    </section>
    {{/if}}
    {{#if entity._embedded.childNodes.length}}
    <section>
      <h2>Descendants</h2>
      <ul class="name-list">
        {{#each entity._embedded.childNodes}}
        <li>
          <a href="{{this._links.self.href}}" class="child-node">{{#name this.names.[0]}}{{/name}}</a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/if}}
    {{#if entity._links.primaryImage}}
    <section>
      <h2>Silhouettes</h2>
      <ul class="image-list">
        <li>
          <a href="{{entity._links.primaryImage.href}}">
            {{#with entity._embedded.primaryImage._links.raster.[0]}}
            <img src="{{href}}" width="{{#width sizes}}{{/width}}" height="{{#height sizes}}{{/height}}" />
            {{/with}}
          </a>
        </li>
      </ul>
    </section>
    {{/if}}
  </main>
  <footer>
    <section id="copyright">
      Website &copy; 2019 T. Michael Keesey.
    </section>
  </footer>
</body>

</html>
